<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css"  type="text/css"/>
   

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"/>



    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css"/>

    <!-- Custom styles for this template -->
    <link href="css/custom.css" rel="stylesheet"/>
    
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>


<link id="bs-css" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"/>
<link id="bsdp-css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.min.css"/>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>

 <link id="bsdp-css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
    
    <script type="text/javascript">
            $(function () {
                $('#sandbox-container input').datepicker({
                }); 

              


            });
        </script>
        

</head>
<body>

                <form role="form" th:action="@{/student}" th:object="${student}" th:method="post">
  <div th:include="fragments/signup_header::head"></div>   
<div class="bg-faded p-4 my-4">
        <div class="container">

          <div class="col-xs-12 text-xs-center">
                    <h3 class="mbr-section-title display-2">STUDENT</h3>
                    <small class="mbr-section-subtitle"></small>
                </div>
            <div class="row row-sm-offset">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="form1-4-name">Student Id<span class="form-asterisk">*</span></label>
                                    <input type="number" class="form-control" name="name" required="" data-form-field="Name" th:field="*{studentId}"/>
                                </div>
                            </div>
                        </div>
            <div class="row row-sm-offset">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="form1-4-name">Student Name<span class="form-asterisk">*</span></label>
                                    <input type="text" class="form-control" name="name" required="" data-form-field="Name" th:field="*{studentName}"/>
                                </div>
                            </div>
                        </div>
                 <div class="row row-sm-offset">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="form1-4-name">Meal Plan<span class="form-asterisk">*</span></label>
                            <select class="form-control" th:field="*{mealPlan}">
                                <option value="">Select Your Meal Plan</option>
                                <option value="3">3 Months</option>
                                <option value="6">6 Months</option>
                                <option value="12">12 Months</option>

                            </select>
                                </div>
                            </div>
                        </div>
             
                 <div class="row row-sm-offset">
                            <div class="col-xs-12">
                                <div class="form-group" id="sandbox-container">
                                    <label class="form-control-label" for="form1-4-name">Start Date<span class="form-asterisk">*</span></label>
                                    <input type="text" class="form-control" name="name" required="" data-form-field="Name" th:field="*{startDate}"/>
                                </div>
                            </div>
                        </div>
            
            <div class="row row-sm-offset">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="form1-4-name">User Name<span class="form-asterisk">*</span></label>
                                    <input type="text" class="form-control" name="name" required="" data-form-field="Name" th:field="*{username}"/>
                                </div>
                            </div>
                        </div>
            <div class="row row-sm-offset">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="form1-4-name">Password<span class="form-asterisk">*</span></label>
                                    <input type="password" class="form-control" name="name" required="" data-form-field="Name" th:field="*{password}"/>
                                </div>
                            </div>
                        </div>
            <div class="row row-sm-offset">
                            <div class="col-xs-12">
                                <div class="form-group">
                                  
                                   <button type="submit" class="btn btn-primary"><span class="btn-text">SUBMIT</span><i class="btn-loader"></i></button>
                                </div>
                            </div>
            </div>
            

                            

                            

                        </div>
            

        </div>

                </form>





  </body>
</html>
